.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  list-style-type: none;
  margin: none;
  padding: none;
  background-color: #0B2561;
  float: left;

}
li{
  display:inline;
  
}
a{
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top:5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Muli', sans-serif;
}
li a:hover{
  background-color: #6386D8;
}

ul {
  position: fixed;
  width: 100%;
}